/* .dark-mode{
    background: rgb(28, 3, 39);
    color: white;
    -webkit-font-smoothing: antialiased;
}

.dark-mode h1, h2, h3, h4, h5, h6 {
    color: white;
}

.dark-mode {
    background-color: rgb(28, 3, 39);
    color: #f0f0f5;
}

.dark-mode h1, h2, h3, h4, h5, h6 {
    color: #f0f0f5;
}

.dark-mode header a {
    color: #f0f0f5;
} */